body{
    font-family: "open sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    
}
header{
    background-color: #2e64a1;
    padding: 16px 0;
}
header h1{
    color:white;
    height: 40px;
    font-weight:100;
    font-style:italic;
    display:flex;
    position: relative;
    bottom: 80px;
    margin-left: 100px;
}
nav{
    background-color: #6da9ed;
    margin-bottom: 20px;
}
nav ul{
    list-style: none;
    margin: 0%;
    padding: 0;
    display: flex;
    justify-content: stretch;

}
nav ul li{
    flex-grow: 1;

}
nav ul li a{
    color:white;
    text-decoration:none;
    padding: 3px 6px;
    display: block;
}
nav ul li a:hover{
    background-color: rgba(0,0,0,0.3);

}
footer{
    background-color: #ccc;
    clear:both;
    color: #333;
    text-align: center;
    padding: 40px 0;
}
nav ul li a.activo{
    background-color:#4c76a5 ;

}
.holder{
    max-width: 960px;
    margin:0 auto;
   
}
h2{
    color:#2e64a1;
}
.bienvenidos{
    width: 74;
    padding-right: 10px;
    box-sizing: border-box;
}
.testimonios{
    width: 25;
}
.columnas{
    display: flex;
    justify-content: space-between;
}
.bienvenidos p{
    font-size:  20px;
}

.testimonio{
    background-color: #ccc;
    padding: 16px;
}
.testimonio .cita{
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    background-color: yellow;
    display:block;

}
.historia p{
    font-size: 12px;

}
.personas{
    display:flex;
    justify-content: space-between;

}
.persona{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 18%;
    text-align:center;
    padding: 15px;
    box-sizing: border-box;

}
.persona img{
    border-radius:50%;
    max-width: 60%;
    box-shadow: 0 0 10px gray;
}
.persona h5,
.persona h6{
    margin: 0;
    font-weight: normal;
    color:#2e64a1;
}
.persona h5{
    font-size: 14px;
    margin-top: 5px  ;
}
.persona h6{
    font-size: 16px;
    font-style:italic;
}
.servicio{
    border:1px solid #ccc;
    border-radius: 500;
    padding: 16px;
    margin: 16px 0;
    display: block;
}
.servicio .info h4{
    border:1px solid #ccc;
    font-weight: 500;
    font-style: italic;
    border-bottom:1px dashed #2e64a1;
    padding-bottom: 10px;
}
.servicion .info p{
    font-size: 13px;

}
.servicio img{
    border-radius:13px ;
    display:block;
    max-width: 225px ;
}
.servicio:nth-child(even) {
    flex-direction: row-reverse;
}
/*inicio galeria*/
.galeria{
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-start;


}
.galeria img{
    border: 1px solid #ccc;   
    padding: 5px;
    width:18%;
    margin-bottom: 20px;
    margin-right:2%;
    box-sizing: border-box;
}
.galeria img:nth-child(3){
    border-color: aqua;
    border-color:none ;
}
.contacto{
    display:flex;
    gap:24px;
    
}
.contacto div{
    width: 100%;
    padding: 5px;
    background-color: yellow;
}
div.datos{
    width: 100%;
    background-color: orange;
    padding: 5px;
}

  